{{ partial "header.html" . }}
<body
  lang="{{ .Site.LanguageCode }}"
  class="sans-serif w-90 w-60-ns center center-ns mv2 mv5-ns"
  itemscope
  itemtype="http://schema.org/Article"
>
  {{ $baseurl := .Site.BaseURL }}
  <a
    href="{{ .Site.BaseURL  }}"
    class="b bb bw1 pb1 no-underline black"
    >{{ .Site.Title }}</a
    >

  <section id="main" class="mt5">
    <h1 itemprop="name" class="nunito" id="title">{{ .Title }}</h1>

    <h2>{{ .Description }} </h2>

    <article itemprop="articleBody" id="content" class="lh-copy">
      {{ .Content }}
    </article>
  </section>

  {{ partial "footer.html" . }}
  </body>
</html>
